.banner-gradient {
  height: 100vh;
  /* Credits to: https://www.joshwcomeau.com/gradient-generator/ */
  background-image: linear-gradient(
    0deg,
    hsl(210deg 13% 50%) 0%,
    hsl(210deg 14% 46%) 21%,
    hsl(209deg 15% 41%) 30%,
    hsl(209deg 16% 37%) 39%,
    hsl(209deg 18% 33%) 46%,
    hsl(208deg 20% 29%) 54%,
    hsl(208deg 23% 25%) 61%,
    hsl(207deg 27% 21%) 69%,
    hsl(207deg 32% 17%) 79%,
    hsl(206deg 41% 13%) 100%
  );
}

.custom-bg {
    background-color: #142430;
}

.banner-gradient h1 {
  font-size: 60px;
  font-weight: bold;
}

.nav-colored {
  background-color: #142430 !important;
}

.nav-transparent {
  background-color: transparent !important;
}

/* Credits to: https://codepen.io/mohaiman/pen/MQqMyo */
.cool-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cool-circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.cool-circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.cool-circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.cool-circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.cool-circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.cool-circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.cool-circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.cool-circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.cool-circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.cool-circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.cool-circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
